body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: blue;
    padding: 30px;
    font-size: 100%;
}
p {
    color: red;
    margin-left: 30px;
    font-size: 110%;
}
h1 {
    font-family: "Courier New", monospace;
}
div#content {
    padding: 50px;
    background-color: white;
    border: solid 1px #333333;
    height: 80vh;
}
img {
    float: right;
    width: 800px;
    height: auto;
}
div#image {
    padding: 100px;
    background-color: white;
    border: solid 2px #333333;
    margin-right: 30px;
    float: right;
}
